@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    color: black;
}

:root{
    --light-gray: hsl(0, 0%, 98%);
    --moderate-gray: hsl(0, 0%, 89%);
    --dark-gray: hsl(0, 0%, 48%);
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: #147b74;
}

body{
    background-color: var(--light-gray);
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
}

input, button{
    font-family: inherit;
}

input:focus{
    outline: none;
}

main{
    position: relative;
    display: grid;
}

.main-hide-overflow{
    overflow: hidden;
}

header{
    background-image: url(../images/image-hero-mobile.jpg);
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,212,255,0) 20%), url(../images/image-hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 1.2rem 16rem 1.2rem;
    position: relative;
}

.header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-bar{
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 100px 100px 50px rgba(0,0,0,0.2);
    transform: scale(1,0);
    transform-origin: top;
    z-index: 10;
}

.nav-bar-show{
    transform: scale(1,1);
}

.nav-bar-transition{
    transition: transform .3s ease-in-out;
}

.nav-bar li{
    list-style: none;
    padding: 1.6rem;
    border-bottom: .5px solid rgba(231, 231, 231, 0.7);
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-family: 'Commissioner', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.burger-icon, .close-icon{
    transition: display 1s ease-in-out;
}

.hidden{
    display: none;
}

section{
    background-color: white;
}

.section-wrapper{
    padding: 1.5rem;
    position: absolute;
    top: 14rem;
    justify-self: center;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-container{
    padding: 2rem 1.5rem 2rem;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.hero-section{
    padding-top: 3rem;
    position: relative;
    display: grid;
    grid-template-areas: 
    "h1 h1"
    "p p"
    "button1 button2";
    justify-items: center;
    gap: .5rem;
}

.logo-mastercraft{
    position: absolute;
    top: -1.8rem;
    justify-self: center;
}

.hero-section h1,
.hero-section p{
    text-align: center;
}

.hero-section h1{
    grid-area: h1;
    font-size: 1.3rem;
    font-weight: 700;
}

.hero-section p{
    grid-area: p;
    color: var(--dark-gray);
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.green-button{
    background-color: var(--moderate-cyan);
    color: white;
    border: none;
    border-radius: 30px;
    transition: all .2s ease;
    cursor: pointer;
}

.green-button:hover{
    background-color: var(--dark-cyan);
}

.green-button:active{
    opacity: .8;
}

.btn-back{
    grid-area: button1;
    /*border: none;
    border-radius: 30px;
    background-color: var(--moderate-cyan);
    color: white;*/
    font-size: .9rem;
    font-weight: 600;
    padding: 1rem 3rem;
    white-space: nowrap;
    justify-self: end;
    width: auto;
}



.btn-bookmark{
    grid-area: button2;
    justify-self: start;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-bookmark:hover{
    opacity: .8;
}

.btn-bookmark span{
    display: none;
}

.bookmark-selected img{
    content: url(../images/icon-bookmark-2.svg);
}

.stats-container, .stats-container p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-container{
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.stats-container p{
    gap: .5rem;
    color: var(--dark-gray);
    font-size: .9rem;
    font-weight: 400;
}

.border-line::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin-top: 1rem;
}

.stat-digit{
    font-size: 2rem;
    font-weight: 700;
}

.stat-progress-bar{
    -webkit-appearance: none;
    width: 100%;
    height: .8rem;
    
}

/* For Firefox */
.stat-progress-bar::-moz-progress-bar {
    background: var(--moderate-cyan);
    border-radius: 50px;
}

/* For Chrome or Safari */
.stat-progress-bar::-webkit-progress-value {
    background: var(--moderate-cyan);
    border-radius: 50px;
}

.stat-progress-bar::-webkit-progress-bar {
    background: var(--moderate-gray);
    border-radius: 50px;
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.about-section h2, .modal-container h1{
    font-size: 1.2rem;
    font-weight: 700;
}

.about-section > p{
    color: var(--dark-gray);
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.product-container{
    padding: 1.5rem;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    display: grid;
    gap: .5rem;
}

.product-name, .modal-product-name{
    font-size: .9rem;
    font-weight: 700;
}

.product-price, .modal-product-price{
    color: var(--moderate-cyan);
    font-size: .9rem;
    font-weight: 500;
}

.product-desc{
    color: var(--dark-gray);
    font-size: .83rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin: 1rem 0;
}

.product-count, .modal-product-count{
    color: var(--dark-gray);
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.product-count{
    margin-bottom: 1rem;
}

.product-count span{
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-right: .3rem;
}

.btn-select-reward{
    /*border: none;
    border-radius: 30px;
    background-color: var(--moderate-cyan);
    color: white;*/
    font-size: .8rem;
    font-weight: 600;
    padding: 1rem 1.8rem;
    white-space: nowrap;
    width: fit-content;
}

.product-disabled{
    opacity: .5;
}

.product-disabled button{
    background-color: var(--dark-gray);
    border: none;
    border-radius: 30px;
    color: white;
}

.modal-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    overflow: auto;
    background-color: hsla(0, 1%, 30%, 0.5);
    padding: 2rem 1.3rem;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s,
    opacity 0.25s 0s,
    transform 0.25s;
    display: grid;
    align-items: center;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, 
    opacity 0.25s 0s, 
    transform 0.25s;
}

.modal-container{
    min-width: 300px;
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    margin-inline: auto;
}

.modal-product-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.modal-product-container{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    position: relative;
}

.green-border{
    border: 1px solid var(--dark-cyan);
}

.modal-container p, .modal-product-form{
    grid-column: span 2;
}

.modal-container h1{
    white-space: nowrap;
    justify-self: start;
}

.btn-close-modal{
    width: fit-content;
    justify-self: end;
    background-color: white;
    border: none;
}

.modal-container > p, .modal-product-desc, .modal-pledge-details label{
    color: var(--dark-gray);
    font-size: .83rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.modal-product-details{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: 
    "radio name"
    "radio price"
    "desc desc"
    "count count";
    align-items: center;
}

.modal-product-count span{
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: .3rem;
}

.modal-product-radio{
    grid-area: radio;
    height: 25px;
    width: 35px;
    justify-self: start;
}

.modal-product-name{
    grid-area: name;
    margin-bottom: .3rem;
}

.modal-product-price{
    grid-area: price;
}

.modal-product-desc{
    grid-area: desc;
    margin: 1rem 0;
}

.modal-product-count{
    grid-area: count;
}

.modal-pledge-details{
    /*padding: 1.5rem;*/
    
    /*display: none;*/
    /*visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;*/
    
    /*position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: position 500ms ease-in-out;*/
    /*transform: translate(0%, -100%);
    z-index: -10;*/
    /*max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 1s ease-in-out,
    opacity .5s .5s ease-in-out,
    padding .2s ease-in-out;*/

    border-top: 1px solid rgb(226, 226, 226);
    display: grid;
    grid-template-areas: 
    "label label"
    "input button";
    justify-items: center;
    gap: .5rem;

    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s ease-in-out;
}

.show-pledge-details{
    /*transition: display 1s 1s ease-in-out,
    transform 1s 1s ease-in-out;*/
    /*visibility: visible;
    transform: scaleY(1);
    display: grid;*/
    /*position: static;
    visibility: visible;
    opacity: 1;*/
    /*padding: 1.5rem;
    max-height: max-content;
    opacity: 1;
    transition: max-height 200ms ease-in-out;*/
    /*transform: translate(0%, 100%);*/
    padding: 1.5rem;
    max-height: max-content;
    transform: scaleY(1);
    transition: transform .2s ease-in-out;
}

.modal-pledge-details label{
    grid-area: label;
}

.modal-pledge-details input{
    grid-area: input;
    border: 1px solid rgb(226, 226, 226);
    text-indent: 1.5rem;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

.modal-pledge-details input:focus{
    border: 1px solid var(--dark-cyan);
}

.div-input-pledge{
    position: relative;
}

.div-input-pledge::before{
    content: "$";
    color: var(--dark-gray);
    font-size: 1rem;
    position: absolute;
    top: .75rem;
    left: 1.1rem;
}

.invalid-value::after{
    content: "Value is not valid";
    color: rgb(233, 102, 123);
    font-size: .7rem;
    position: absolute;
    bottom: -15px;
    left: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.modal-pledge-details button{
    grid-area: button;
    /*border: none;
    background-color: var(--moderate-cyan);
    color: white;*/
    font-size: .8rem;
    font-weight: 700;
}

.modal-pledge-details input, .modal-pledge-details button{
    padding: .7rem;
    border-radius: 20px;
    width: 100px;
}


.modal-completed{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal-completed p{
    text-align: center;
}

.modal-completed button{
    /*border: none;
    border-radius: 30px;
    background-color: var(--moderate-cyan);
    color: white;*/
    font-size: .9rem;
    font-weight: 700;
    padding: .7rem 2rem;
}





@media screen and (min-width: 35em) {

    .btn-back{
        justify-self: start;
    }

    .btn-bookmark{
        justify-self: end;
        background-color: #ebebeb;
        border-radius:30px;
    }

    .bookmark-selected{
        background-color: hsl(176, 41%, 79%);
    }

    .btn-bookmark span{
        display: block;
        padding: 1.1rem 1.8rem 1.1rem 1rem;
        font-size: .9rem;
        font-weight: 600;
        color: #505050;
    }

    .bookmark-selected span{
        color: var(--dark-cyan);
        font-weight: 700;
    }
}

@media screen and (min-width: 53em) {

    header{
        background-image: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,212,255,0) 40%), url(../images/image-hero-desktop.jpg);
        padding: 3.5rem;
        height: 400px;
    }

    .header-wrapper{
        max-width: 1110px;
        margin-inline: auto;
    }

    .nav-bar, .nav-bar li{
        all: unset;
    }

    .nav-bar ul{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .nav-bar a{
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }

    .nav-bar a:hover{
        color: var(--moderate-gray);
    }

    .nav-bar a:active{
        opacity: .8;
    }

    .burger-menu{
        display: none;
    }

    .section-wrapper{
        top: 18rem;
        gap: 1.5rem;
    }

    .section-container, .modal-container{
        width: 750px;
        padding: 3rem;
    }

    .hero-section{
        padding-top: 3.5rem;
        gap: .8rem;
    }

    .hero-section h1{
        font-size: 1.7rem;
    }

    .hero-section p{
        font-size: 1rem;
        margin-bottom: 1.7rem;
    }

    .stats-container{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .stats-container p{
        position: relative;
        flex-basis: 100%;
        align-items: flex-start;
        padding: 1rem;
    }

    .border-line::after{
        all: unset;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background-color: rgba(226, 226, 226);
    }

    .about-section{
        gap: 2rem;
    }

    .about-section h2{
        font-size: 1.4rem;
    }

    .about-section > p{
        font-size: 1.03rem;
        line-height: 1.7rem;
    }

    .product-container{
        padding: 2rem;
        grid-template-areas: 
        "name price"
        "desc desc"
        "count btn";
        align-items: center;
    }

    .product-name{
        grid-area: name;
        font-size: 1.2rem;
    }

    .product-price{
        grid-area: price;
        justify-self: end;
        font-size: 1rem;
    }

    .product-desc{
        grid-area: desc;
        font-size: 1.01rem;
        line-height: 1.7rem;
        margin: 1.5rem 0;
    }

    .product-count{
        grid-area: count;
        font-size: 1.01rem;
    }

    .product-count span{
        font-size: 2.3rem;
    }

    .btn-select-reward{
        grid-area: btn;
        justify-self: end;
        font-size: .9rem;
        padding-inline: 2rem;
    }

    .modal-product-details{
        padding: 2rem;
        display: grid;
        grid-template-columns: 50px auto 1fr auto ;
        grid-template-areas: 
        "radio name price count"
        "radio desc desc desc";
        align-items: start;
        column-gap: 1rem;
    }

    .modal-pledge-details{
        /*padding: 2rem;*/
        /*display: grid;*/
        grid-template-areas: 
        "label input button";
        grid-template-columns: 1fr auto auto;
        justify-items: start;
        align-items: center;
        gap: 1rem;
    }

    .show-pledge-details{
        padding: 2rem;
    }
}